# 1. 숫자형

## 정수형

In [29]:
a = 123
a

123

In [28]:
a = -178
a

-178

## 실수형

In [27]:
a = 1.2
a

1.2

In [26]:
a = -3.45
a

-3.45

In [25]:
a = 4.24E10
a

42400000000.0

In [24]:
a = 4.24e-10
a

4.24e-10

## 8진수와 16진수

In [23]:
a = 0o177
a

127

In [30]:
a = 0x8ff
b = 0xABC
a, b

(2303, 2748)

## 사칙 연산

In [31]:
a=3
b=4
a+b

7

In [32]:
 a-b

-1

In [33]:
a*b

12

In [34]:
a/b

0.75

## 제곱 연산

In [35]:
a=3
b=4
a**b

81

## 나눗셈 후 나머지 리턴

In [36]:
7 % 3

1

In [37]:
3 % 7

3

## 나눗셈 후 몫을 리턴

In [41]:
7 / 4 #단순 나눗셈

1.75

In [43]:
7 // 4 #몫만 출력

1

In [40]:
8 // 3

2

# 2. 문자열 자료형

##### 주의) 파이썬은 대소문자를 구분한다!

In [46]:
"Hello World"

'Hello World'

In [49]:
Hello World #따옴표가 없어서 안된다!

SyntaxError: invalid syntax (3476678686.py, line 1)

In [47]:
'Hello World'

'Hello World'

In [48]:
"""Hello World"""

'Hello World'

In [50]:
" Hello World "

' Hello World '

## 문자열에 작은따옴표 포함하기

In [51]:
pyhton's favorite food is perl

SyntaxError: unterminated string literal (detected at line 1) (355551876.py, line 1)

In [53]:
"python's favorite food is perl"

"python's favorite food is perl"

## 문자열에 큰따옴표 포함하기

## 역슬래시 사용!

In [60]:
'pyhton\'s favorite food is perl'

"pyhton's favorite food is perl"

In [68]:
'\"파이썬 누가 쉽데? 겁나 어려움! ㅜ \" 재성이 말했다.'

'"파이썬 누가 쉽데? 겁나 어려움! ㅜ " 재성이 말했다.'

# 1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [4]:
>>> multiline = "Life is too short\n You need python"

In [5]:
print(multiline)

Life is too short
You need python

In [7]:
>>> multiline='''
... Life is too short
... You need python
... '''

In [8]:
multiline

'\nLife is too short\nYou need python\n'

In [11]:
print('='*50) #문자열 구간나누기?

==================================================

In [14]:
# multistring.py

print("=" * 50)
print("My Program")
print("=" * 50)
#왜함? 메모장 코드 붙여넣기 다른이름으로 저장 -  wassup2저장, multistring, 다하고 PYTHON어쩌고...

==================================================
My Program
==================================================

In [51]:
>>> a = "Life is too short" #공백 포함
>>> len(a)

17

# 문자 인덱싱과 슬라이싱

In [52]:
>>> a = "Life is too short, You need Python" #공백포함 0부터 시작
>>> a[0]

'L'

In [20]:
>>> a[12]

's'

In [24]:
>>> a[-1] # 뒤에서 시작 -는 0이 없음

'n'

# 문자열 슬라이싱 (구간별로)

In [27]:
a = "Life is too short, You need Python"
a[0:3] #마지막 END인덱스는 -1이 적용됨

'Lif'

In [28]:
a[0:4]

'Life'

In [29]:
a[8:17]

'too short'

In [30]:
a[0:4]==a[0:5]

False

In [32]:
a[19:]  #생략하면 끝까지 찾아줌

'You need Python'

In [33]:
a[:17]

'Life is too short'

In [34]:
a[:]

'Life is too short, You need Python'

In [37]:
a[19:-7]  # 왜?

'You need'

# 슬라이싱으로 문자열 나누기

In [38]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
date, weather

('20230331', 'Rainy')

In [41]:
>>> a = "20230331Rainy"
>>> year = a[:4]
>>> day = a[4:8]
>>> weather = a[8:]
year, day, weather

('2023', '0331', 'Rainy')

In [43]:
a = "Pithon"  #이뮤터블 : 문자열은 원본변경 불가-새로운 변수로 지정해야함
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [48]:
a[:1] + 'y' + a[2:]

'Python'

In [50]:
b = a[:1] + 'y' + a[2:]
b

'Python'

# 문자열 포매팅 (숫자만 바꾸기) Q.

In [71]:
# 숫자 바로 대입   
"I eat %d apples." %3    #정수(integer)가 들어올 치환값이 들어올거야

'I eat 3 apples.'

In [75]:
# 문자열 바로 대입   
"I eat %s apples." %"five"

'I eat five apples.'

In [58]:
"I eat %d apples." "%"5"  #Q.

SyntaxError: unterminated string literal (detected at line 1) (498606330.py, line 1)

In [59]:
"I eat %d apples." "%"삼"

SyntaxError: unterminated string literal (detected at line 1) (505538188.py, line 1)

In [62]:
#숫자 값을 나타내는 변수로 대입
number =3
"I eat %d apples." "%"numebr

SyntaxError: invalid syntax (577818144.py, line 3)

In [63]:
# 2개 이상의 값 넣기'
number =10

In [64]:
i ate %d apples. so

SyntaxError: invalid syntax (626120796.py, line 1)

In [66]:
"I have %s apples" %3 #데시몰에 문자 안됨, 스트링에 문자 0

'I have 3 apples'

In [67]:
"rate is %s" %3.234

'rate is 3.234'

In [68]:
"오늘의 습도는 %d% 입니다" %70

TypeError: not enough arguments for format string

In [69]:
"오늘의 습도는 %d%%입니다" %70

'오늘의 습도는 70%입니다'

## 포맷 코드와 숫자 함께 사용하기

In [76]:
#정렬과 공백
"%10s" % "hi"

'        hi'

In [77]:
"%-10sjane." % 'hi' #많이 안씀

'hi        jane.'

# 소수점 표현하기

In [78]:
"%0.4f" % 3.42134234

'3.4213'

In [79]:
"%10.4f" % 3.42134234

'    3.4213'

# format 함수를 사용한 포매팅

In [85]:
"I eat {0} apples".format(3) #Q. 점??

'I eat 3 apples'

In [82]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [86]:
# Q. 변수설정을 안해서 인자 없어서 순서대로 들어감

In [88]:
#이름으로 넣기 #지정해야됨. 안하면 ㅜ
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [90]:
"I ate {number} apples. so I was sick for {day} days.".format(10, 3)

KeyError: 'number'

In [91]:
"I ate {number} apples. so I was sick for {day} days.".format(day=3, 
                                                        number=10)

'I ate 10 apples. so I was sick for 3 days.'

In [93]:
#왼쪽 정렬 잘안씀 오른쪽정렬이 조금ㄱ 더 직관적

## 소수점 표현하기

## f 문자열 포매팅(강추)

In [94]:
>>> name = '홍길동'
>>> age = 30
>>> f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [95]:
>>> age = 30
>>> f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [96]:
>>> d = {'name':'홍길동', 'age':30}   #valueX key로만 인덱싱됨
>>> f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

# 문자열 관련 함수들

In [99]:
# 문자 개수 세기 count
a = "hobby"
a.count('b')

2

In [101]:
#목적따라 다름
#에러나면 안됨, 멈추면 안돼 - find
#프로그래밍이 멈춰야해 - index

In [103]:
# 문자열 삽입 join  #abcd 중간에 쉼표 넣고 싶어요
a= 'abcd'
a

'abcd'

In [105]:
'^,'.join(a)

'a^,b^,c^,d'

In [109]:
#리스트는 목록
a = ['a','b','c','d']
a

['a', 'b', 'c', 'd']

In [111]:
','.join(a)

'a,b,c,d'

In [112]:
# 소문자를 대문자로 바꾸기 - upper
a = 'hi'
a.upper

In [113]:
a = 'hi'
a.upper()

'HI'

In [114]:
a = 'hi'
a.upper? # 하단 덕스트링볼수있음

In [117]:
print? 
heelp (print)
# () defaut 값 - 오류방지위해서

SyntaxError: invalid syntax (3401287764.py, line 1)

In [118]:
#documentation이 가장 정확하다

In [122]:
# 소문자 바꾸기 #원본을 바꾸지 않음 
a ="HI"
a.lower()
#원본을 바꾸는메서드 인거, 아닌거 구별

'hi'

In [123]:
a

'HI'

In [125]:
# 왼왼쪽 공백 지우기 - lstrip *요긴하게 쓰일 것임
a="  hi  "
a

'  hi  '

문자열 바꾸기 replace

In [128]:
a = "Life is too short"
a.replace?

문자열 바꾸기 replace

# 변수

In [130]:
a = 1
a, type (a)

(1, int)

In [132]:
b='python' 
b, type(b)

('python', str)

In [134]:
c = [1,2,3]
c, type(c)

([1, 2, 3], list)

In [135]:
id(a)

140718338249512

In [136]:
#계속 덮어쓰면, 그래도 새로운 정보이기때문에, 새로운 메모리가 할당됨

In [140]:
# 문자열을 복사 
a = [1,2,3]
b = a #얕은 복사 : 제대로된 복사가 아닌 참조만한..

In [141]:
id(a), id (b)

(1483661125312, 1483661125312)

In [143]:
a is b #a와 b가 가리키는 객체가 같다, 복제가 안된것X

True

In [146]:
a[1]=4

In [147]:
a

[1, 4, 3]

In [148]:
b

NameError: name 'b' is not defined

In [149]:
# https://pythontutor.com/ 로 시각적으로 확인해보기

In [151]:
a = [1,2,3]
b = a[:] #슬라이싱해서 추출
id(a), id (b)

(1483655219264, 1483657950144)

In [152]:
a = [1,2,3]
b = a
id(a), id (b)

(1483654671552, 1483654671552)

# copy (완전한복사) 추천

In [153]:
from copy import copy
a =[1,2,3]
a

In [154]:
b = copy(a)
id(a), id(b)

(1483655651520, 1483655233472)

In [155]:
b is a

False

# 변수를 만든느 여러가지 방법

In [156]:
a, b = ('python', 'life')

In [157]:
a

'python'

In [158]:
B

NameError: name 'B' is not defined

In [159]:
b

'life'