# WIKI DOCS 과제(051 ~ 100)

# [오답 정리]
### 028 문자열은 immutable (오답)
Q. 아래 코드의 실행 결과를 예상해보세요.

> lang = 'python'  
> lang[0] = 'P'  
> print(lang)

In [252]:
lang = 'python'
lang.replace('p', 'P')

'Python'

### 034 문자열 곱하기 (오답)

변수에 다음과 같은 문자열이 바인딩되어 있습니다.

> t1 = 'python'
> 
> 
> t2 = 'java'
> 

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:python java python java python java python java

In [254]:
t1 = 'python'

t2 = 'java'

t3 = t1+' ' + t2 +' '
print(t3*4)

'python java python java python java python java '

### 035 문자열 출력(오답)

변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

> name1 = "김민수"
> 
> 
> age1 = 10
> 
> name2 = "이철희"
> 
> age2 = 13
> 

> 이름: 김민수 나이: 10
> 
> 
> 이름: 이철희 나이: 13
>

In [ ]:
name1 = "김민수"

age1 = 10

name2 = "이철희"

age2 = 13

print("이름:%s 나이:%d" % (name1, age1))
print("이름:%s 나이:%s" % (name2, age2))

### 036 문자열 출력 (오답)

문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
name1 = "김민수"

age1 = 10

name2 = "이철희"

age2 = 13

print("이름:{0} 나이:{1}".format(name1, age1))
print("이름:{} 나이:{}".format(name2, age2))

### 037 문자열 출력 (오답)

파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

> f-string은 문자열 앞에 f가 붙은 형태입니다.
> 
> 
> f-string을 사용하면 `{변수}`와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.
>

In [ ]:
print(f"이름:{name1} 나이:{age1}")
print(f"이름:{name2} 나이:{age2}")

### 038 컴마 제거하기

Q. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

In [ ]:
상장주식수 = "5,969,782,550"
콤마제거=상장주식수.replace(',', '')
타입변환=int(콤마제거)
print(타입변환, type(타입변환))

### 040 strip 메서드(오답은 아닌데, strip?)

문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [ ]:
data = " 삼성전자 "
data.strip()

### 045 endswith 메서드 (오답:()이해안감)

파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [ ]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

--------------------------------------------------------------------------------

## 4. 파이썬 리스트(051 ~ 060)

### 051 리스트 생성
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다.  
영화 제목을 movie_rank 이름의 리스트에 저장해보세요.  
(순위 정보는 저장하지 않습니다.)

In [ ]:
movie_rank=['닥터스트레인지', '스플릿', '럭키']
print(movie_rank)

### 052 리스트에 원소 추가 (wrong)
051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [ ]:
movie_rank=['닥터스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

### 053 (wrong)
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [ ]:
movie_rank=['닥터스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
movie_rank.insert[1](슈퍼맨)
print(movie_rank)

### 054 (wrong)
movie_rank 리스트에서 '럭키'를 삭제하라. del사용

In [ ]:
movie_rank=['닥터스트레인지', '스플릿', '럭키', '배트맨']
del movie_rank[2]
print(movie_rank)

### 055
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [ ]:
movie_rank=['닥터스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

### 056(wrong이라기보다는 왜 선언을 먼저하는가!)
lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang3 = lang1 + lang2
print(lang3)

### 057(wrong)
다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)  
nums = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(f'MAX : {max(nums)}, MIN : {min(nums)}')

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('MAX : ', max(nums))
print('MIN : ', min(nums))

058
다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5]
sum(nums)

059 (wrong)  
다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.  

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

060
다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5]
aver=sum(nums) / len(nums)
print(aver)

### 061(정답)
price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)  
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price [1:]

### 062
슬라이싱을 사용해서 홀수만 출력하라.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums [::2]

### 063
슬라이싱을 사용해서 짝수만 출력하라.  
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums [1::2])

### 064 (wrong)
슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.  
nums = [1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5]
# print(nums [:-1])  이건 인덱스 표시일뿐, 역순 출력이 아님 -> 0~끝까지 출력
nums.reverse()
print(nums)

### 065(wrong-warning)
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']  
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  
출력 예시:
삼성전자 Naver

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest [0], interest[-1])

### 066 join 메서드 (wrong-misunderstand)
Q. join 메서드 사용법  
Q. 그냥하면 리스트 형태로 [] '' 가 나오는데 " ", .join?  
Q. " ".join(interest)  #근데 왜 리스트 형태[]이 기호가 사라지지??????


interest 리스트에는 아래의 데이터가 바인딩되어 있다.  

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  

출력 예시:  
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest) #interest와 동일

In [ ]:
" ".join(interest)  #근데 왜 리스트 형태[]이 기호가 사라지지??????

In [ ]:
print(" ".join(interest))

### 067 join 메서드(wrong-misunderstand)
Q. ,이건 요소를 나누기 위함이지 요소가 아니네! replace가 적용이 안되지!

interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

### 068 join 메서드 (wrong-misunderstand)
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자  
LG전자  
Naver  
SK하이닉스  
미래에셋대우

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우'] 
print('\n'.join(interest))  #print안하면 왜 인식 이상해?

### 069 문자열 split 메서드 (wrong-warning)
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.  

string = "삼성전자/LG전자/Naver"  
이를 interest 이름의 리스트로 분리 저장하라.  

실행 예시  
 print(interest)  
['삼성전자', 'LG전자', 'Naver']

In [ ]:
string = "삼성전자/LG전자/Naver"
interest=string.split('/')
print(interest)

### 070 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

### 071
my_variable 이름의 비어있는 튜플을 만들라.

In [ ]:
my_variable = ()
print(my_variable, type(my_variable))

### 072
2016년 11월 영화 예매 순위 기준 top3는 다음과 같다.  영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

순위	영화
1	닥터 스트레인지
2	스플릿
3	럭키

In [ ]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank, type(movie_rank))

### 073  
숫자 1 이 저장된 튜플을 생성하라.

In [ ]:
t1 = (1, )
print(t1, type(t1))

### 074
다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.  

> t = (1, 2, 3)  
> t[0] = 'a'

In [255]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

A. 튜플은 immutable 객체거든요. 원고 값 변경이 불가하거든요

### 075
아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?  

t = 1, 2, 3, 4

In [ ]:
t = 1, 2, 3, 4
print(t, type(t))

### 076
변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

In [ ]:
t = ('a', 'b', 'c')
t=str(t)
t=t.upper()
print(t, type(t))

In [257]:
t = ('a', 'b', 'c')
t=('A', 'B', 'C')
print(t)

('A', 'B', 'C')

077
다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(interest, type(interest))

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data=list(interest)
print(data, type(data))

078
다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data=list(interest)
data, type(data)

### 079 튜플 언팩킹 (wrong)  
다음 코드의 실행 결과를 예상하라.  

temp = ('apple', 'banana', 'cake')  
a, b, c = temp  
print(a, b, c)

A. ('apple', 'banana', 'cake')

In [259]:
temp = ('apple', 'banana', 'cake')  
a, b, c = temp  
print(a, b, c)

TypeError: 'tuple' object is not callable

In [260]:
print(a)
print(b)

TypeError: 'tuple' object is not callable

### 080 range 함수 (wrong-mis) Q. 왜 print 안돼?왜?
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

(2, 4, 6, 8 ... 98)

In [ ]:
t = (2, 4, 6, 8, ... ,98)
t

In [ ]:
data = tuple(range(2, 100, 2))
print(data)

### 081 별 표현식 (wrong) 
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.  

>> a, b, *c = (0, 1, 2, 3, 4, 5)  
>> a  
0  
>> b  
1  
>> c  
[2, 3, 4, 5]  
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.  

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [258]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

### 082
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,_, *valid_score =scores
valid_score

### 083
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_ =scores
valid_score

### 084 비어있는 딕셔너리 (wrong) Q. dict은 print쓰면안되니??
temp 이름의 비어있는 딕셔너리를 만들라.

In [ ]:
temp = {}
temp, type(temp)

### 085
다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

이름	희망 가격
메로나	1000
폴라포	1200
빵빠레	1800

In [ ]:
ice_price=0

In [ ]:
ice_price= {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}

In [ ]:
ice_price

In [ ]:
print(ice_price)

### 087
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
실행 예:
메로나 가격: 1000

In [ ]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
print('메로나_가격:', ice['메로나'])